<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Google Drive Clone</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
    <h1>Welcome to Google Drive Clone</h1>
    <div>
        <h2>Upload a file</h2>
        <form action="#" th:action="@{/api/files/upload}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="text" name="username" placeholder="Username">
            <button type="submit">Upload</button>
        </form>
    </div>
    <div>
        <h2>Your files</h2>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="@{/api/files/{id}(id=${file.id})}" th:text="${file.filename}"></a>
            </li>
        </ul>
    </div>
</body>
</html>
