<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Google Drive Clone</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Welcome, <span th:text="${username}"></span>!</h1>
        <p>You will be redirected to your dashboard shortly.</p>
    </div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>
